// For format details, see https://aka.ms/devcontainer.json. For config options, see the
// README at: https://github.com/devcontainers/templates/tree/main/src/docker-existing-docker-compose
{
  "name": "WeatherPi V2",
  "dockerComposeFile": "../docker-compose.yml",
  "service": "weatherpi",
  "workspaceFolder": "/app",
  "containerEnv": {
    "SIMULATE_SENSORS": "1",
    "MQTT_BROKERS": "[{\"py/object\": \"__main__.broker\", \"brokerfqdn\": \"mqttreceiver.local\", \"brokerport\": 1883, \"brokerusername\": \"user\", \"brokerpassword\": \"password\"}]",
    "MQTT_TOPIC": "Weatherstation/",
    "MQTT_REFRESH": "300",
    "DB_USE_SQL": "False",
    "DB_SERVER": "",
    "DB_NAME": "",
    "DB_USERNAME": "",
    "DB_PASSWORD": "",
    "CAL_TEMPERATURE": "0.0",
    "CAL_PRESSURE": "0.0",
    "CAL_HUMIDITY": "0.0",
    "CAL_LUX": "0.0"
  },
  "postCreateCommand": "pip install --no-cache-dir -r requirements.txt"
}